@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}
:root{
    --blue: #0663a2;
    --light-blue: #28a3f7;
    --gradient: linear-gradient(45deg, var(--blue), var(--light-blue));
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #303030;
}
.intro_content{
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.intro_content.bg-dark{
  background: rgba(51, 51, 51, 1);
}
.logo-div{
    display: flex;
    width: 100%;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: start;
}

.header_logo{
    width: 80px;
    transition: 0.5s;
}
.header_logo:hover{
    transform: scale(1.2);
}
.navbar a{
    color: #fff;
    font-size: 1.8rem;
}
.navbar{
    margin-left: 20px;
}



.video{
    position: relative;
    padding-bottom:56.25%;
    z-index: 1;
}
.vid{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.intro{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.intro::after{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.icons{
    margin-left: 5px;
    width: 40px;
}
.icon{
    padding-left: 36rem;
}
.content1{
  display: inline-flex;
    width: 100%;
    height: 200px;
    background-color: #303030;
    color: #fff;
    justify-content: center;
}
.number{
    margin-right: 22px;
    margin-left: 30px;
    border-radius: 8px;
    text-align: center;
    height: auto;
    width: 210px;
    color: #fff;
    background-color: red;
}
.under-intro{
    position: fixed;
    width: 100%;
    left: 0;
    top: 75px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 100;
}

.under-intro.bg-dark{
  background: rgba(51, 51, 51, 1);
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    border-radius: 10px;
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    width: 140px;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: .8s;
  }
  

  .dropdown-content a {
    color: black;
    padding: 10px;
    display: block;
    font-size: 15px;
  }

  .dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
  }

  .intro-title{
    font-size: 60px;
    color: #fff;    
  }
  .intro-main-btn{
    background-color: red;
    color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 350px;
    margin-top: 30px;
    cursor: pointer;
  }
  .nav{
    margin-left: 50px;
  }
  @media (min-width: 1200px){
    .hamburger-menu{
      visibility: hidden;
      opacity: 0;
    }
  }
  @media (max-width: 1199px){
    .wrapper{
      visibility: hidden;
      opacity: 0;
    }
  }
  
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 95%;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  .hamburger-menu{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(48, 48, 48, 0.4);
    transition: 0.3s;
  }
  .hamburger-menu.bg-dark{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(48, 48, 48, 1);
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #ff0000;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: flex;
    position: fixed;
    visibility: hidden;
    flex-direction: column;
    top: 0;
    left: -100%;
  
    width: 100%;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #303030;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
    align-items: center;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .logo-img{
    margin-left: 50px;
    width: 80px;
    height: 80px;
  }
  .hamburger-menu{
    display: flex;
    justify-content: space-between;
  }
  .info{
    position: absolute;
    left: 0;
    top: 48%;
    z-index: 20;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer{
    width: 100%;
    height: 280px;
    background-color: #303030; 
    display: flex;
    justify-content: center;
   }
   .ficon-div{
     display: flex;
   }
   .f-icon{
     width: 30px;
     height: 30px;
     margin: 10px;
   }
   .f-icon-f{
     width: 30px;
     height: 30px;
     margin-top: 10px;
     margin-bottom: 10px;
   }
   .f-logo{
     width: 200px;
   }
   .f-a{
     text-decoration: none;
     color: #fff;
   }
   .f-t-n{
     color: rgba(74, 76, 77, 1.00);
     font-size: 20px;
   }
   .f-n{
     font-size: 15px;
     margin-top: 10px;
   }
   .block-navigacion{
     height: 200px;
     width: 220px;
     height: auto;
     margin:0 10px;
   }
   .block-logo{
     height: 200px;
     width: 220px;
     height: auto;
     margin:0 10px;
   }
   .block-positions{
     height: 200px;
     width: 220px;
     height: auto;
     margin:0 10px;
   }
   .block-contacts{
     height: 200px;
     width: 220px;
     height: auto;
     margin:0 10px;
   }
   .razdelenie{
     width: 100%;
     height: 100px;
     background-color: #303030;
   }
   html{
    background-color: #303030;
   }
   .footer-wrapper{
    max-width: 1200px;
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
   }
   .katalog-wrap{
    display: flex;
    text-align: flex-start;
    width: 100%;
    height: 160px;
    background-color: #303030;
    color: #fff;
    align-items: flex-end;
  }
  .katalog-h1{
    font-size: 40px;
  }
.katalog-title{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.katalog-link{
  text-align: flex-end;
  text-decoration: none;
  color: #fff !important;
  display: flex;
  width: 200px;
  height: 55px;
  background-color: #303030;
  color: #fff;
  font-size: 22px;
  align-items:center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 8px ;
  border:1px solid red;
}
.katalog-link:hover{
  background-color: red;
  transition: 0.5s;
}
.katalog-container{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 75px;
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #fff;
  text-align: center;
}
.katalog-photo{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 650px;
    background-color: #303030;

}
.wrapper-katalog-container{
  display: flex;
  height: 650px;
  width: 990px;
  justify-content: space-between;
  background-color: #303030;
}
.katalog-container-photo{
  display: flex;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.p{
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial,sans-serif;
  font-weight: bolder;
}
.p-s{
  margin-top: 10px;
  font-size: 12px;
}
.cost{
  margin-top: 20px;
  font-size: 15px;
}
.p-c-r{
  color: red;
}
.p-c-g{
  text-decoration: line-through;
  color: #BDBDBD;
}
.cost-link{
  margin-top: 25px;
  color: black ;
  display: flex;
  width: 170px;
  height: 40px;
  background-color: #fff;
  font-size: 15px;
  align-items:center;
  justify-content: center;
  border-radius: 8px ;
  border:1px solid black;
  transition: 0.3s;
}
.cost-link:hover{
  color: #fff;
  background-color:red ;
  border: 1px solid #fff;
}
.cost-btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .2);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}
.modal_box{
  margin: 30px 15px;
  max-width: 500px;
  padding: 45px;
  z-index: 10;
  background-color: #303030;
  -webkit-box-shadow: 1px 0px 60px -18px rgba(255, 0, 0, 1);
-moz-box-shadow: 1px 0px 60px -18px rgba(255, 0, 0, 1);
box-shadow: 1px 0px 60px -18px rgba(255, 0, 0, 1);
transform: scale(0);
transition: transform .8s;
}
.modal-text{
  margin-top: 40px;
  color: #fff;
  font-size: 30px;
}
.modal-option{
  color: #fff;
  font-size: 20px;
}
.modal.open{
  opacity: 1;
  visibility: visible;
}
.modal.open .modal_box{
  transform: scale(1);
}
.close-my-modal{
  position: absolute;
  top: 30px;
  right: 30px;
}