
@media (min-width: 320px){
    .katalog-title{
        align-items: center;
        flex-direction: column;
    }
    .katalog-photo{
        height: 1550px;
    }
    .p-icon{
        margin-left: 20px;
    }
    .order-h1 {
        font-size: 20px;
        margin-top: 85px;
        margin-left: 15px;
        width: 250px;
    }
    .under-pic {
        width: 100%;
        height: 1050px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .logo-img{
        width: 40px;
        height: 40px;
    }
    .pictures {
        height: 720px;
        flex-direction: column;
    }
    .logo-img{
        margin-left: 10px;
    }
    .menu__btn{
        left: 86%;
        top: 9px;
    }
    .intro-main-btn{
        width: 65px;
        height: 65px;
        font-size: 5px;
        margin: 0;
        margin-bottom: 200px;
    }
    .intro_silka{
        font-size: 1.5rem;
        padding: 8px;
    }
    .dropbtn{
        padding: 8px;
    }
    .use {
        font-size: 20px;
    }
    .container .btn{
        width: 160px;
    }
    .intro-title{
        margin-left: 20px;
    font-size: 15px;
    width: 220px;
        margin-bottom: 200px;
    }
    .container{
        height: 200px;
        width: 300px;
        margin-top: 20px;
    }
    .katalog-h1 {
        font-size: 25px;
    }
    .katalog-link{
        width: 180px;
        margin-top: 40px;
    }
    .wrapper-katalog-container{
        flex-direction: column;
        align-items: center;
    }
    .input-div {
        width: 330px;
    }
    .ytvideo{
        width: 290px;
    height: 190px;
    }
    .razdelenie{
        height: 0px;
    }
    
.katalog-container{
    width: 275px;
}
.katalog-container-photo{
    width: 170px;
    height: 170px;
}
.wrapper-katalog-container{
    justify-content: space-around;
}

.order{
    height: 1000px;
}
.predlozenie{
    font-size: 38px;
    font-weight: bold;
    margin-left: 40px;
}
.order-menu{
    flex-direction: column;
    align-items: center;
}
.information{
    justify-content: flex-start;
}
.first-footer{
    display: flex;
    flex-direction: column;
}
.block-navigacion{
    margin-top: 30px;
}
.second-footer{
    display: flex;
    flex-direction: column;
}
.footer-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.content1{
    height: 95px;
}
.text1{
    width: 70%;
}.pic-t{
    margin-top: 40px;
}
.cost-link{
    margin-bottom: 20px;
}
.square2 {
    width: 40px;
    height: 40px;
    border-radius: 15px;
}
.footer{
    height: 700px;
}
.a{
    margin-left: 10px;
}

}


@media (min-width: 480px){
    .a{
        margin-left: 20px;
    }
    .p-icon{
        margin-left: 50px;
    }
    .predlozenie{
        margin-left: 80px;
    }
    .footer{
        height: 280px;
    }
    .katalog-title{
        align-items: center;
        flex-direction: row;
    }
    .square2 {
        border-radius: 20px;
        width: 60px;
        height: 60px;
    }
    .logo-img{
        width: 80px;
        height: 80px;
    }
    .katalog-photo{
        height: 1550px;
        align-items: start;
    }
    .order-h1 {
        font-size: 20px;
        margin-top: 85px;
        margin-left: 15px;
        width: 350px;
    }
    .under-pic {
        width: 100%;
        height: 1050px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pictures {
        height: 720px;
        flex-direction: column;
    }
    .logo-img{
        margin-left: 10px;
    }
    .menu__btn{
        top: 25px;
        left: 90%;
    }
    .intro-main-btn{
        width: 90px;
        height: 90px;
        font-size: 8px;
        margin: 0;
        margin-bottom: 200px;
    }
    .intro_silka{
        font-size: 1.5rem;
        padding: 8px;
    }
    .dropbtn{
        padding: 8px;
    }
    .use {
        text-align: center;
        font-size: 25px;
    }
    .container .btn{
        width: 160px;
    }
    .intro-title{
        font-size: 20px;
        width: 320px;
        margin-bottom: 200px;
    }
    .container{
        height: 200px;
        width: 300px;
        margin-top: 20px;
    }
    .katalog-h1 {
        font-size: 25px;
        margin-left: 30px;
    }
    .katalog-link{
        width: 180px;
        margin-right: 40px;
    }
    .wrapper-katalog-container{
        flex-direction: column;
        align-items: center;
    }
    .input-div {
        width: 415px;
    }
    .ytvideo{
        width: 460px;
    height: 300px;
    }
    .razdelenie{
        height: 0px;
    }
    
.katalog-container{
    width: 370px;
}
.katalog-container-photo{
    width: 170px;
    height: 170px;
}
.wrapper-katalog-container{
    justify-content: space-around;
}

.order{
    height: 1000px;
}
.predlozenie{
    font-size: 38px;
    font-weight: bold;
}
.order-menu{
    flex-direction: column;
    align-items: center;
}
.information{
    justify-content: space-between;
}
.first-footer{
    display: flex;
    flex-direction: column;
}
.block-navigacion{
    margin-top: 30px;
}
.second-footer{
    display: flex;
    flex-direction: column;
}
.block-contacts{
    margin-top: 125px;
}
.footer-wrapper{
    margin-top: 100px;
    align-items: normal;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}
.content1{
    height: 95px;
}
.text1{
    width: 70%;
}
}
.pic-t{
    margin-top: 40px;
}
.cost-link{
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .katalog-photo{
        height: 650px;
        align-items: center;
    }
    .pic-t{
        margin-top: 0px;
    }
    .under-pic {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .text1{
        width: auto;
    }
    .pictures {
        justify-content: center;
        height: 260px;
        flex-direction: row;
    }
    .content1{
        height: 200px;
    }
    .intro-main-btn{
        width: 100px;
        height: 100px;
        font-size: 8px;
        margin: 0;
        margin-bottom: 70px;
    }
    .intro_silka{
        font-size: 1.5rem;
        padding: 8px;
    }
    .dropbtn{
        padding: 8px;
    }
    .use {
        font-size: 40px;
    }
    .container .btn{
        width: 160px;
    }
    .intro-title{
        font-size: 30px;
        width: 500px;
        margin-bottom: 70px;
    }
    .container{
        height: 200px;
        width: 300px;
    }
    .katalog-h1{
        font-size: 35px;
        margin-left: 40px;
    }
    .katalog-link{
        width: 200px;
        margin-right: 40px;
    }
    .wrapper-katalog-container{
        flex-direction: row;
        width: 940px;
    }
    .order-h1 {
        width: 730px;
        font-size: 27px;
        margin-top: 85px;
    }
    .input-div {
        width: 415px;
    }
    .ytvideo{
        width: 700px;
        height: 400px;
    }
    .razdelenie{
        height: 0px;
    }
    
.katalog-container{
    width: 230px;
}
.katalog-container-photo{
    width: 170px;
    height: 170px;
}
.wrapper-katalog-container{
    justify-content: space-around;
}

.order{
    height: 1200px;
}
.predlozenie{
    font-size: 38px;
    font-weight: bold;
}
.order-menu{
    flex-direction: column;
    align-items: center;
}
.information{
    justify-content: space-between;
}
.first-footer{
    display: flex;
    flex-direction: column;
}
.block-navigacion{
    margin-top: 30px;
}
.second-footer{
    display: flex;
    flex-direction: column;
}
.block-contacts{
    margin-top: 125px;
}
.footer-wrapper{
    justify-content: center;
    margin-top: 0;
}
.menu__btn{
    left: 95%;
}
}


@media (min-width: 992px){
    .katalog-photo{
        height: 650px;
    }
    .pic-t{
        margin-top: 0px;
    }
    .under-pic {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .text1{
        width: auto;
    }
    .pictures {
        height: 350px;
        flex-direction: row;
        justify-content: center;
    }
    .content1{
        height: 200px;
    }
    .menu__btn{
        left: 95%;
    }
    .footer-wrapper{
        justify-content: space-between;
        margin-top: 70px;
    }
    .block-contacts{
        margin-top: 0;
    }
    .second-footer{
        display: flex;
        flex-direction: row;
    }
    .block-navigacion{
        margin-top: 0;
    }
    .first-footer{
        display: flex;
        flex-direction: row;
    }
    .katalog-container{
        width: 300px;
    }
    .katalog-container-photo{
        width: 170px;
        height: 170px;
    }
    .intro-main-btn{
        font-size: 12px;
        margin-left: 50px;
    }
    .navbar{
        margin-left: 20px;
    }
    .intro_silka{
        font-size: 1.5rem;
        padding: 8px;
    }
    .dropbtn{
        padding: 8px;
    }
    .use{
        font-size: 50px;
    }
    .container .btn{
        width: 230px;
    }
    .intro-title{
        font-size: 60px;
    }
    .container{
        width: 360px;
        height: 270px;
    }
    .katalog-h1{
        font-size: 40px;
        margin-left: 40px;
    }
    .katalog-link{
        width: 200px;
        margin-right: 40px;
    }
    .wrapper-katalog-container{
        flex-direction: row;
        width: 940px;
    }
    .order-h1 {
        width: auto;
        font-size: 35px;
        margin-top: 85px;
    }
    .input-div {
        width: 415px;
    }
    .ytvideo{
        width: 500px;
        height: 300px;
    }
    .razdelenie{
        height: 0px;
    }
    .intro-main-btn{
        width: 130px;
        height: 130px;
    }
    .p-icon {
        width: 60px;
        height: 60px;
    }
    .order{
        height: 700px;
    }
    .predlozenie{
        font-size: 38px;
        font-weight: bold;
    }
    .order-menu{
        flex-direction: row;
        align-items: center;
    }
    .intro-title{
        font-size: 60px;
        width: 700px;
        margin-bottom: 70px;
    }
    .logo-img{
        margin-left: 50px;
    }
}


@media (min-width: 1200px){
    .order{
        height: 700px;
    }
    .predlozenie{
        font-size: 38px;
        font-weight: bold;
    }
    .order-menu{
        flex-direction: row;
        align-items: center;
    }
    .hr{
        width: 1160;
    }
    .navbar{
        margin-left: 40px;
    }
    .nav{
        margin-left: 50px;
    }
    .intro_silka{
        padding: 16px;
    }
    .dropbtn{
        padding: 16px;
    }
    button.intro-main-btn{
        width: 150px;
        height: 150px;
        font-size: 12px;
        margin-left: 150px;
    }
    .use{
        font-size: 60px;
    }
    .container .btn{
        width: 270px;
    }
    
.p-icon {
    width: 60px;
    height: 60px;
}
}
